
.contactsWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .contactsInner {

    .contactsTitle {

    }

    .contactsDescription {

    }

    .contactsMail {
      width: 100%;
      height: 100%;
    }
  }
}

.map {
  max-width: 1200px;
  margin: 0 auto;
}