

  .projectsInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 330px;
    height: 330px;
    background-color: #406881;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px;

    .projectsImg{
      width: 100%;
      height: 200px;
      background-color: #fcc141;
    }
  }
