
.servicesWrapper {
  margin: 50px 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 10px;
  justify-items: center;

  .servicesInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 330px;
    height: 330px;
    background-color: #406881;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .servicesLogo {
      width: 50px;
      height: 50px;
      background-color: #fcc141;
    }

    .servicesTitle {
        width: 200px;
    }

    .servicesNumber {

    }
  }
}