.headerBackground {
    height: 130px;
    background-color: rgba(12, 49, 72, 0.66);
}

.headerContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.headerTitleWrapper {
    display: flex;
    align-items: center;
    height: 130px;
}

.headerTitle {
    color: white;
    font-size: 22px;
    margin: 0 20px;
}

.headerTitleSpan {
    font-size: 18px;
    color: white;
}