
.projects {

  .projectsTitleWrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../image/minsk.jpg");
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    .projectsPageTitle {
      font-size: 42px;
      color: #ffffff;
      letter-spacing: 2px;
      -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
      -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
      text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);

      @media (max-width: 1130px) {
        font-size: 26px;
      }
    }
  }

  .projectsWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 1150px) {
      width: 1000px;
      justify-content: space-evenly;
    }

    @media (max-width: 1130px) {
      width: 800px;
    }

    @media (max-width: 820px) {
      width: 650px;
    }

    @media (max-width: 650px) {
      width: 500px;
    }
  }

  &.modalActive {
    background-color: rgba(0, 0, 0, 0.82);
    transition: all .3s;
  }
}

