
.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 10;
  //transition: all .3s ease;


  &.active {
    transform: scale(1);
    //transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalContent {
    width: 1000px;
    height: 600px;
    background-color: #ffffff;
    padding: 20px;

    .modalTitle {
      font-size: 18px;
      align-items: center;
    }

    .modalDescriptionWrapper {

      display: flex;

      .modalImg {
        width: 600px;
        height: 100%;
      }

      .modalDescription {
        font-size: 16px;
        align-items: inherit;
        margin: 0 15px;
        text-align: justify;
      }
    }

  }
}