
.containerFirstScreen {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../image/1.jpg");
    background-repeat: no-repeat;
    height: 770px;
    background-size: cover;
    background-position: center;
}

.wrapperTitleFirstScreen {
    text-align: center;
    padding-top: 150px;
}

.titleFirstScreen {
    font-size: 42px;
    color: #ffffff;
    letter-spacing: 2px;
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.descriptionFirstScreen {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.wrapperContactFirstScreen {
    margin-top: 200px;
    display: flex;
    justify-content: flex-end;
}

.phoneLogo {
    width: 40px;
    padding-right: 20px;
}

.wrapperPhone {
    display: flex;
    flex-direction: column;
}

.wrapperContactPhone {
    background-color: white;
    width: 350px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #fcc141;
    transition: all .5s;
    text-decoration: none;
}

.wrapperContactPhone:hover {
    background-color: #406881;
    transition: all .5s;
}

.phoneTitle {
    margin: 0;
    color: black;
}

.phoneNumber {
    margin: 0;
    color: black;
}

.wrapperContactMail {
    background-color: white;
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #fcc141;
    transition: all .5s;
    text-decoration: none;
}

.wrapperContactMail:hover {
    background-color: #406881;
    transition: all .5s;
}

.mailLogo {
    width: 40px;
    padding-right: 20px;
}

.mailTitle {
    margin: 0;
    color: black;
}

.mailNumber {
    margin: 0;
    color: black;
}

.wrapperServicesHomePage {
    background: linear-gradient(135deg, rgb(252, 193, 65, 0.5), rgb(64, 104, 129), rgb(208, 227, 242, 0.5)), url("../../image/minsk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

.titleServicesHomePage {
    margin: 0;
    color: white;
    padding: 100px 0;
    font-size: 32px;;
    font-weight: bolder;
    -webkit-text-shadow: 0px 3px 3px rgba(34, 60, 80, 0.5);
    -moz-text-shadow: 0px 3px 3px rgba(34, 60, 80, 0.5);
    text-shadow: 0px 3px 3px rgba(34, 60, 80, 0.5);
    text-align: center;
}

.wrapperServicesBlock {
    display: flex;
    /*max-width: 1200px;
    margin: 0 auto;*/
    padding-bottom: 50px;
    /*justify-content: space-around;*/
    justify-content: center;
}

.wrapperServicesBuild {
    width: 350px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.60);
    border: 1px solid transparent;
    padding: 20px 20px 50px 20px;
    -webkit-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    margin: 0 50px;
    cursor: pointer;
    text-decoration: none;
}

.wrapperServicesBuild:hover {
    background-color: white;
}

.servicesBuildImg {
    overflow: hidden;
}

.bildImage {
    width: 350px;
    transition: all .3s ease;
}

.servicesBuildTitle {
    color: black;
    margin: 10px 0;
    font-size: 18px;
}

.servicesBuildDescription {
    color: black;
}

.wrapperServicesBuild:hover .bildImage {
    transform: scale(1.2);
    transition: all .3s ease;
}


.wrapperServicesTech {
    width: 350px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.60);
    border: 1px solid transparent;
    padding: 20px 20px 50px 20px;
    -webkit-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    margin: 0 50px;
    cursor: pointer;
    text-decoration: none;
}

.servicesTechTitle {
    color: black;
    margin: 10px 0;
    font-size: 18px;
}

.servicesTechDescription {
    color: black;
}

.wrapperServicesTech:hover {
    background-color: white;
}

.servicesTechImg {
    overflow: hidden;
}

.wrapperServicesTech:hover .bildImage {
    transform: scale(1.2);
    transition: all .3s ease;
}

/*_________________________advantages_________________________*/

.wrapperAdvantages {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrapperBlockAdvantage {
    width: 350px;
    height: 160px;
    background-color: rgba(208, 208, 210, 0.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 150px 0;
    padding: 15px;
}

.blockAdvantageTitle {
    display: flex;
    align-items: center;
}

.okeyLogo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.advantageTitle {
    font-size: 18px;
    margin: 10px;
}

.blockAdvantageDescription {
    text-align: justify;
}

/*_________________________links_________________________*/

.wrapperLinks {
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: #406881;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}

.link:hover .linkLogo {
    width: 110px;
    height: 110px;
    transition: all .3s ease;
}

.link:hover {
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.40), 0 15px 15px rgba(0, 0, 0, 0.40);
}

.link:hover p {
    /*font-weight: bold;*/
    /*transition: all .3s ease;*/
}

.linkLogo {
    width: 90px;
    height: 90px;
    transition: all .3s ease;
}





@media (max-width: 1185px) {
    .containerFirstScreen {
        height: 450px;
    }

    .wrapperTitleFirstScreen {
        padding-top: 30px;
    }

    .titleFirstScreen {
        font-size: 26px;
    }

    .descriptionFirstScreen {
        font-size: 20px;
    }

    .wrapperContactFirstScreen {
        margin-top: 50px;
        justify-content: center;
    }

    .wrapperContactPhone {
        width: 300px;
        height: 100px;
    }

    .wrapperContactMail {
        background-color: white;
        width: 300px;
        height: 100px;
    }


    .wrapperAdvantages {
        max-width: 1000px;
        /*margin: 0 auto;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
    }

    .wrapperBlockAdvantage {
        width: 280px;
    }

    .wrapperLinks {
        max-width: 1000px;
        flex-wrap: wrap;
        justify-content: center;
        height: 500px;
        margin-bottom: 80px;
    }
}


@media (max-width: 990px) {
    .wrapperAdvantages {
        max-width: 1000px;
        /*margin: 0 auto;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
    }

    .wrapperBlockAdvantage {
        width: 250px;
        height: 200px;
        margin: 100px 10px;
    }
}


@media (max-width: 920px) {
    .wrapperServicesBuild {
        margin: 0 10px;
    }

    .wrapperServicesTech {
        margin: 0 10px;
    }

    .titleServicesHomePage {
        padding: 30px 0;
    }
}


@media (max-width: 835px) {
    .wrapperServicesBuild {
        width: 200px;
        height: 320px;
    }

    .wrapperServicesTech {
        width: 200px;
        height: 320px;
    }

    .titleServicesHomePage {
        padding: 30px 0;
    }
}


@media (max-width: 790px) {
    .wrapperAdvantages {
       flex-direction: column;
        align-items: center;
    }

    .wrapperBlockAdvantage {
        width: 450px;
        height: 150px;
        margin: 20px 0;
        padding: 15px;
    }
}


@media (max-width: 635px) {
    .wrapperContactFirstScreen {
        flex-direction: column;
        align-items: center;
    }

    .titleFirstScreen {
        font-size: 25px;
    }

    .wrapperContactPhone {
        width: 250px;
        height: 80px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .wrapperContactMail {
        width: 250px;
        height: 80px;
    }

    .containerFirstScreen {
       height: 500px;
    }

    .phoneLogo {
        width: 20px;
        padding-right: 10px;
    }

    .phoneTitle {
        font-size: 16px;
    }

    .phoneNumber {
        font-size: 16px;
    }

    .mailLogo {
        width: 20px;
        padding-right: 10px;
    }

    .mailTitle {
        font-size: 16px;
    }

    .mailNumber {
        font-size: 16px;
    }
}



@media (max-width: 740px) {
    .wrapperLinks {
        height: 700px;
    }
}


@media (max-width: 530px) {
    .wrapperServicesBlock {
        flex-direction: column;
        align-items: center;
    }

    .wrapperServicesBuild {
        margin-bottom: 20px;
    }

    .wrapperBlockAdvantage {
        width: 250px;
        height: 200px;
    }

    .wrapperAdvantages {
        margin: 30px 0;
    }
}



@media (max-width: 460px) {
    .containerFirstScreen {
        height: 400px;
    }

    .wrapperLinks {
        height: 1150px;
    }

    .titleFirstScreen {
        font-size: 15px;
    }

    .descriptionFirstScreen {
        font-size: 15px;
    }
}



@media (max-width: 390px) {
    .containerFirstScreen {
        height: 400px;
    }
}



@media (max-width: 330px) {
    .containerFirstScreen {
        height: 450px;
    }
}

